@use "../custom" as *;

.btn {
  --transparent-bg: rgba($color: $white, $alpha: 0.9): cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  color: $black;
  background-color: $g-100;
  text-align: center;
  transition:
    color 400ms ease,
    background-color 400ms ease,
    border-radius 300ms ease;

  &:hover {
    background-color: $g-300;
  }

  &:focus {
    outline: 1px solid $cypheir-main;
    background-color: $g-200;
  }

  &:active {
    background-color: $g-400;
    color: $black;
  }

  &.primary {
    background-color: $cypheir-main;
    color: $white;

    &:hover,
    &:focus {
      outline: 1px solid $cypheir-main;
      background-color: var(--transparent-bg) !important;
      color: $cypheir-main;
    }

    &:active {
      outline: 1px solid $cypheir-sub;
      background-color: $cypheir-main !important;
      color: $white;
    }
  }

  &.dark {
    background-color: $dark;
    color: white;

    &:hover,
    &:focus {
      outline: 1px solid $g-900;
      background-color: white;
      color: $g-900;
    }

    &:active {
      outline: 1px solid $g-900;
      background-color: $dark;
      color: $white;
    }
  }

  &.icon-btn {
    border-radius: 50%;
    padding: 4px;
    outline: 2px solid $cypheir-main;
    background-color: transparent;

    &.dark {
      svg {
        fill: $white;
      }
    }

    svg {
      width: 2rem;
      height: 2em;
    }
  }
}
