@use '../custom' as *;
@use './mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
  --heading-space: 0.15em;
  --heading-font: 1.75em;

  @include responsive(mobile) {
    --heading-space: 0.11em;
    --heading-font: 1.5em;
  }
  * {
    font-family: 'Poppins', 'Century Gothic', sans-serif;
  }
  h1 {
    margin-block-start: var(--heading-space);
    margin-block-end: var(--heading-space);
  }
  h2 {
    margin-block-start: calc(var(--heading-space) / 0.9);
    margin-block-end: calc(var(--heading-space) / 0.9);
  }
  h3 {
    margin-block-start: calc(var(--heading-space) / 0.8);
    margin-block-end: calc(var(--heading-space) / 0.8);
  }
  h4 {
    margin-block-start: calc(var(--heading-space) / 0.7);
    margin-block-end: calc(var(--heading-space) / 0.7);
  }
  h5 {
    margin-block-start: calc(var(--heading-space) / 0.6);
    margin-block-end: calc(var(--heading-space) / 0.6);
  }
  h6 {
    margin-block-start: calc(var(--heading-space) / 0.5);
    margin-block-end: calc(var(--heading-space) / 0.5);
  }
}
