@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/animation" as *;

.navbar {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100dvw;
  padding: 5px 3rem;
  width: -webkit-fill-available;
  background-color: rgba($color: $bg-color, $alpha: 0.25);
  backdrop-filter: blur(2px);
  color: $font-colour;

  @include responsive(mobile) {
    box-shadow: 0 0.01px 10px $g-100;
  }

  .nav-brand {
    cursor: pointer;
    align-self: center;
    max-width: 6rem;
    margin: auto;
    position: sticky;

    .nav-brand--logo {
      width: 100%;
      transition: all 500ms linear 200ms;
    }
  }

  .nav-menu {
    display: flex;
    width: 30vw;
    gap: 1.5rem;
    margin-right: auto;

    @include responsive(mobile) {
      display: none;
    }

    .nav-menu--list {
      font-weight: 500;
      font-size: 14px;

      a {
        transition: color 300ms linear;
        &:hover {
          color: $cypheir-main;
        }
      }
    }
  }

  .call-to-action--nav {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    width: 30vw;
    gap: 1.5rem;

    @include responsive(mobile) {
      display: none;
    }
  }
}
