@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .form-input-text {
    @apply h-[40px] rounded-[4px] bg-zinc-50 py-3 pl-2 pr-2 text-sm outline outline-1 outline-slate-300 transition-colors duration-500 ease-in-out invalid:bg-red-100 invalid:outline-red-600 invalid:placeholder:text-red-500 focus-within:outline-[#1ca7ec] focus:outline-none focus:outline-[#1ca7ec] active:outline-[#1ca7ec] disabled:cursor-pointer disabled:bg-gray-200;
  }
  .form-key-btn {
    @apply mx-1 flex h-10 w-10 grow-0 cursor-pointer items-center justify-center rounded-md border-2 border-zinc-300 bg-zinc-100 p-2 transition-all duration-500 ease-in-out hover:bg-zinc-200;
  }
}
:root {
  --heading-space: 0.15em;
  --heading-font: 1.75em;
}
@media (max-width: 767px) {
  :root {
    --heading-space: 0.11em;
    --heading-font: 1.5em;
  }
}
:root * {
  font-family: 'Poppins', 'Century Gothic', sans-serif;
}
:root h1 {
  margin-block-start: var(--heading-space);
  margin-block-end: var(--heading-space);
}
:root h2 {
  margin-block-start: calc(var(--heading-space) / 0.9);
  margin-block-end: calc(var(--heading-space) / 0.9);
}
:root h3 {
  margin-block-start: calc(var(--heading-space) / 0.8);
  margin-block-end: calc(var(--heading-space) / 0.8);
}
:root h4 {
  margin-block-start: calc(var(--heading-space) / 0.7);
  margin-block-end: calc(var(--heading-space) / 0.7);
}
:root h5 {
  margin-block-start: calc(var(--heading-space) / 0.6);
  margin-block-end: calc(var(--heading-space) / 0.6);
}
:root h6 {
  margin-block-start: calc(var(--heading-space) / 0.5);
  margin-block-end: calc(var(--heading-space) / 0.5);
}

.btn {
  --transparent-bg: rgba($color: $white, $alpha: 0.9): cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  background-color: #f8f9fa;
  text-align: center;
  transition:
    color 400ms ease,
    background-color 400ms ease,
    border-radius 300ms ease;
}
.btn:hover {
  background-color: #dee2e6;
}
.btn:focus {
  outline: 1px solid #1ca7ec;
  background-color: #e9ecef;
}
.btn:active {
  background-color: #ced4da;
  color: #000;
}
.btn.primary {
  background-color: #1ca7ec;
  color: #fff;
}
.btn.primary:hover,
.btn.primary:focus {
  outline: 1px solid #1ca7ec;
  background-color: var(--transparent-bg) !important;
  color: #1ca7ec;
}
.btn.primary:active {
  outline: 1px solid #88d6fd;
  background-color: #1ca7ec !important;
  color: #fff;
}
.btn.dark {
  background-color: #212121;
  color: white;
}
.btn.dark:hover,
.btn.dark:focus {
  outline: 1px solid #0e0f0f;
  background-color: white;
  color: #0e0f0f;
}
.btn.dark:active {
  outline: 1px solid #0e0f0f;
  background-color: #212121;
  color: #fff;
}
.btn.icon-btn {
  border-radius: 50%;
  padding: 4px;
  outline: 2px solid #1ca7ec;
  background-color: transparent;
}
.btn.icon-btn.dark svg {
  fill: #fff;
}
.btn.icon-btn svg {
  width: 2rem;
  height: 2em;
}

.error {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-200deg, #fff, #f8f9fa, #ced4da, #1ca7ec);
}
.error .error_container {
  display: grid;
  grid-template-columns: 1fr 1.125fr;
  width: 60%;
  gap: 2rem;
}
@media (max-width: 767px) {
  .error .error_container {
    width: 90%;
    grid-template-columns: 1fr;
  }
}
.error .error_container .error_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.error .error_container .error_item h1 {
  font-size: 2.75rem;
  font-weight: 600;
}
.error .error_container .error_item h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.error .error_container .error_item p {
  font-size: 1.15rem;
  margin-bottom: 0.75rem;
}
.error .error_container .error_item a {
  color: #1ca7ec;
}
.error .error_container .error_item a:hover,
.error .error_container .error_item a:focus {
  color: #88d6fd;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid #6c757d;
}
.footer.dark {
  background-color: #212121;
  color: #f8f9fa;
  transition: all 500ms ease-in-out 200ms;
  border-top: 1px solid #e9ecef;
}
.footer.dark .footer-social .social-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f8f9fa;
  padding: 4px;
}
.footer.dark .footer-social .social-icon img {
  margin: 2px auto;
  width: 16px;
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
  }
}
.footer .footer-credits {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.footer .footer-credits span {
  font-weight: 500;
  color: #1ca7ec;
}
@media (max-width: 767px) {
  .footer .footer-credits {
    font-size: 13px;
  }
}
.footer .footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
}
.footer .footer-social .social-icon {
  margin: auto 12px;
  width: 20px;
  height: 20px;
}
@media (max-width: 767px) {
  .footer .footer-social {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: auto;
  }
  .footer .footer-social .social-icon {
    margin: auto 9px;
    width: 16px;
    height: 16px;
  }
  .footer .footer-social .social-icon img {
    width: 13px;
    height: 13px;
  }
}

.navbar {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100dvw;
  padding: 5px 3rem;
  width: -webkit-fill-available;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
  color: #0e0f0f;
}
@media (max-width: 767px) {
  .navbar {
    box-shadow: 0 0.01px 10px #f8f9fa;
  }
}
.navbar .nav-brand {
  cursor: pointer;
  align-self: center;
  max-width: 6rem;
  margin: auto;
  position: sticky;
}
.navbar .nav-brand .nav-brand--logo {
  width: 100%;
  transition: all 500ms linear 200ms;
}
.navbar .nav-menu {
  display: flex;
  width: 30vw;
  gap: 1.5rem;
  margin-right: auto;
}
@media (max-width: 767px) {
  .navbar .nav-menu {
    display: none;
  }
}
.navbar .nav-menu .nav-menu--list {
  font-weight: 500;
  font-size: 14px;
}
.navbar .nav-menu .nav-menu--list a {
  transition: color 300ms linear;
}
.navbar .nav-menu .nav-menu--list a:hover {
  color: #1ca7ec;
}
.navbar .call-to-action--nav {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  width: 30vw;
  gap: 1.5rem;
}
@media (max-width: 767px) {
  .navbar .call-to-action--nav {
    display: none;
  }
}

.hero_grad {
  background-image: linear-gradient(190deg, #88d6fd, 0.5%, #fff);
}
@media (max-width: 767px) {
  .hero_grad {
    background-image: linear-gradient(190deg, #1ca7ec, 3%, #fff);
  }
}

/*# sourceMappingURL=global.css.map */
